<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shadon.technologies.app.craigslistdiffchecker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="shadon.technologies.app.craigslistdiffchecker.ui.CraigsDiff">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="shadon.technologies.app.craigslistdiffchecker.ui.ManageSearches"></activity>

        <service
            android:name="shadon.technologies.app.craigslistdiffchecker.service.AndroidBackgroundService"
            android:exported="false"/>

        <receiver
            android:name="shadon.technologies.app.craigslistdiffchecker.service.AndroidServiceRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartServiceAtBootTimeAndRestartServiceWhenStopped">
            <intent-filter>
                <action android:name="shadon.technologies.app.craigslistdiffchecker.RestartSensor"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
